*::before ,
*::after{
    box-0 1.6rem 1.6rem hsla(0, 0%, lightness, alpha);
    sizing: border-box;
}
*{
    margin: 0;
    padding: 0;
    background-color:hsl(212, 45%, 89%);
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    min-height: 3vh;
    display: grid;
    place-items: center;
}
img{
    max-width: 100%;
    height: auto;
    border-radius: 0.675rem;
}
main{
    background-color: hsl(0, 0%, 100%);
    max-width: 220px;
    padding: 1.075rem;
    border-radius: 1.35rem;
    box-shadow: 0 1.6rem 1.6rem hsla(0, 0%, 0%, 0.05);
    text-align: center;
    margin: 0.075rem;
}
main ,h1 ,p{
    background-color: hsl(0, 0%, 100%);
}
h1{
    font-size: 1.375rem;
    line-height: 1.275rem;
    margin-top: 1.1em;
    color: hsl(218, 44%, 22%);
}
p{
    line-height: 1.3;
    margin: 1.075em;
    color: hsl(220, 15%, 55%);
}